<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Start a new To-Do list</h1>
        <form method="post" action="/lists/{{ list_.id }}/add_item">
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item">
            {% csrf_token %}
        </form>

        <table id="id_list_table">
            {% for item in list_.item_set.all %}
                <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>
